<div class="container-fluid">
    <a href="#/coffees">Back To Home</a>
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">

    </div>
    <div class="col-md-20">

        <table class="table">
            <thead>
                <tr>
                    <th>Reviews:</th>
                    <th>Brand:</th>
                    <th>Coffee Title:</th>
                    <th>Country:</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in coffeelist | filter:query | orderBy:name">
                    <td><a href="#/reviews/{{c.id}}" ng-click="onSelected(c.id)">Reviews:</a></td>
                    <td>{{c.brand}}</td>
                    <td>{{c.name}}</td>
                    <td>{{c.country}}</td>
                <tr>
            </tbody>
        </table>

    </div>
  </div>
</div>