
    <a href="#/coffees">Back To Home</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Reviewer:</th>
                    <th>Comment:</th>
                    <th>Rating:</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="review in selected.reviews | filter:query">

                    <td>{{review.reviewer}}</td>
                    <td>{{review.comment}}</td>
                    <td>{{review.rating}}</td>
                <tr>
            </tbody>
        </table>
